body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
html{

  height: 100%;
}

#root{
display: flex;
flex-direction: column;
flex-grow: 1;
}

header img{

  max-height: 40px;
}
header{
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c41333;
  height: 64px;
  color: #fff;
}
footer{
  display: flex;
  align-items: center;
  background-color: #13358e;
  color: #fff;
}
main{
 
  flex-grow: 1;
}